/*h1
{
	color : blue;
}*/

body
{
	background-color: pink;
	color: green;

/*	font-family: Arial, Helvetica, sans-serif;
	font-size : 16px;
	font-weight: bold;*/

	font : bold 16px monospace;
	line-height: 1.3em;
	margin: 0;
}

.container
{
	width: 80%;
	margin: auto;
}

.button
{
	background-color: aqua;
	color: black;
	border-radius: 15px;
	border: none;
	padding: 5px 7.5px; 
	font-size: 16px;
	display: inline;
}

.button:hover
{
	background: red;
	color: white;
}

.clr
{
	clear: both;
}
.box-1
{
	background-color: black;
	color: white;

	border: 3px red dashed;
	padding: 20px;
	margin: 20px 0px; 
}

.box-1 h1
{
	font-family: Tahoma;
	font-weight: 200;
	font-style: italic;

	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	word-spacing: 1em;

	text-align: center;
}

.box-2
{
	background-color: darkblue;
	color: white;

	border: 5px red dotted;
	padding: 20px;
	margin: 20px 0px;
}

.categories
{
	background-color: blue;
	border: 3px green dashed;
	padding: 10px;
	margin: 20px 0px;
	border-radius: 15px;
}

.categories h2
{	
	font-family: Tahoma;
	font-weight: 200;
	font-style: italic;
	color: black;

	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	text-align: center;
}

.categories ul
{
	padding-left: 10px;
	list-style: none;
}

.categories a
{
	text-decoration: line-through;
	color: pink;
}

.categories a:hover
{
	color: white;
}

.categories a:visited
{
	color: black;
}

.categories li
{
	background-color: pink;
	margin-bottom: 5px; 
	padding: 7px;

	border: 5px maroon solid; 

	list-style-image: url("../images/bullet.png");

}

.myForm
{
	background-color: #365577;
	color: #b4895a; 
	padding: 5px 0px 5px 5px;
/*	margin: 5px 0px 5px 5px;
*/}

.myForm .formGroup
{
	margin-bottom: 10px;
}

.myForm label
{
	display: block;
}

.myForm input[type="text"], .myForm textarea
{
	width: 50%;
	padding: 5px;
}

.parallelBoxes
{
	float: left;
	width: 32.875%;
	border: 5px solid #45b3e0;
	padding: 0px 10px;
	margin: 2px; 
	box-sizing: border-box;

}

